{% load static %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Link{% endblock %}</title>
    <meta name="description" content="" />
    <meta name="author" content="42-Snipers" />
    {# CSS #}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/link.css' %}" rel="stylesheet" />
    <link href="{% static 'shield-chart.min.css'%}" rel="stylesheet" />
    {# Scripts #}
    <script src="{% static 'js/bluebird.min.js' %}"></script>
    <script src="{% static 'js/jquery-2.2.0.min.js' %}"></script>
    <script src="{% static 'js/shieldui-all.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    {% get_media_prefix as media %}
  </head>
  <body>
    {# Page content #}
    <nav class="navbar navbar-fixed-top navbar-inverse bg-inverse">
    	<a class="navbar-brand" href="#">{{ object.lastname }} {{ object.firstname }}</a>
    <!-- 			<ul class="nav navbar-nav">
    	<li class="nav-item active">
    		<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    	</li>
    	<li class="nav-item">
    		<a class="nav-link" href="#">About</a>
    	</li>
    	<li class="nav-item">
    		<a class="nav-link" href="#">Contact</a>
    	</li>
    	</ul> -->
    </nav>
    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>
    {# Footer #}
    <br />
    <footer class="footer text-center">
      <small>
      <p>Link, 2016.</p>
      </small>
    </footer>
  </body>
</html>
