{% extends "base.html" %}
{% load static %}

{% block content %}
<ol class="breadcrumb">
	<li><a href="{% url 'customer:login' %}">Accueil</a></li>
</ol>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div id="chart7" class="panel-body"></div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-8">

<!-- 	<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Warning!</strong> Better check yourself, you're not looking too good.
</div> -->
		{% for account in object.accounts.all %}
			{% if account.initial_amount > account.final_amount %}
			<div class="alert alert-warning alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<p>Nous enregistrons une baisse de la valorisation de votre {{ account.account_type }} ouvert le {{ account.initial_date|date:"SHORT_DATE_FORMAT" }}</p>
			</div>
			{% endif %}
		{% endfor %}
		<div class="col-md-6">
			<div class="panel panel-default">
				<div id="chart5" class="panel-body"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div id="chart6" class="panel-body"></div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="panel panel-default">
				<div id="chart1" class="panel-body" data-clientid="{{ object.id }}"></div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading text-center"><h3>{{ object.lastname }} {{ object.firstname }}</h3></div>
				<div class="card-block text-center">
					<h5 class="card-text">{{ object.job }} {% if object.company != "-" %}chez {{ object.company }} {% endif %}</h5>
				</div>
				<ul class="list-group list-group-flush">
				   {% for account in object.accounts.all %}
					<li class="list-group-item">
					<p><strong>Type de compte :</strong> {{ account.account_type }}</p>
					<p><strong>Ouverture du compte :</strong> {{ account.initial_date|date:"SHORT_DATE_FORMAT" }}</p>
					<p><strong>Montant initial :</strong> {{ account.initial_amount | floatformat:"2" }}</p>
					<p><strong>Montant final :</strong> {{ account.final_amount | floatformat:"2" }}
					{% if account.initial_amount > account.final_amount %}<span class="label label-danger">Warning</span></p>
					{% elif account.initial_amount < account.final_amount %}<span class="label label-success">Success</span></p>{% endif %}

					   <!-- {% for evolution in account.evolution.all %} -->
					   <!-- {{evolution.date|date:"SHORT_DATE_FORMAT"}} -->
					   <!-- {% if evolution.date|date:"SHORT_DATE_FORMAT"  == "02/09/2016" %} -->
							<!-- <a class="btn btn-default btn-circle"><div class="round_percent">{{ evolution.account_perfdaily | floatformat:"4"}}</div></a> -->
					   <!-- {% endif %} -->
				       <!-- {% endfor %} -->
			       {% endfor %}
					<!-- <div id="chart2" class="panel-body"></div> -->
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-12">
			<div class="panel panel-default">
				<div id="chart3" class="panel-body"></div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="{% static 'js/datas.js' %}"></script>
{% endblock %}
