/* Footer */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.container {
  padding-top: 70px
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}
#login-panel {
  margin: 15% 5%
}
.btn-circle {
    width: 80px;
    height: 80px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 40px;
}
.round_percent {
    position: relative;
    top:35%;
}
